---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/react/Counter";
---

<Layout
    title="Welcome to Astro."
    description="sitio de prueba con preact,mongodb"
    ><h1>sd</h1>
    <Counter client:load />
</Layout>
